<mat-tab-group>
    <mat-tab label="Editar Contato">
        <form class="m-t-21" [formGroup]="formulario" (ngSubmit)="submit()">
            <mat-list>
                <mat-list-item>
                    <mat-form-field class="full-width">
                        <mat-label>id: </mat-label>
                        <input matInput formControlName="id" />
                    </mat-form-field>
        
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field class="full-width m-t-10">
                         <mat-label>Nome: </mat-label>
                            <input matInput formControlName="nome" placeholder="Digite seu nome: "/>
                
                    </mat-form-field>
                    
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field class="full-width m-t-10">
                        <mat-label>Email: </mat-label>
                        <input matInput formControlName="email" placeholder="Digite seu email: "/>
                    </mat-form-field>
        
                </mat-list-item>
                <mat-list-item>
                    <button [disabled]="!formulario.valid" mat-button color="primary">Alterar</button>
                    <button type="button" mat-button color="error" (click)="fechar()">Cancelar</button>
        
                </mat-list-item>
            </mat-list>
        
        
        
        </form>
        
    </mat-tab>
</mat-tab-group>
