<mat-toolbar>
    <mat-icon>account_box</mat-icon>    
    Contatos</mat-toolbar>

<mat-tab-group>
    <mat-tab >
        <ng-template mat-tab-label>
            <mat-icon>sort</mat-icon>
            Todos
             
        </ng-template>
        <mat-card>

            <table mat-table [dataSource]="contatos" class="full-width">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let contato">{{contato.id}}</td>
                </ng-container>

                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let contato">{{contato.nome}}</td>
                    
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let contato">{{contato.email}}</td>
                </ng-container>

               
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Ações </th>
                    <td mat-cell *matCellDef="let contato">
                        <a class="m-r-60" href="#" (click) = "favoritarContato(contato)">
                            <mat-icon>{{contato.favorito? 'favorite' : 'favorite_border'}}</mat-icon>
                        </a>
                        <a href="#" (click) = "excluirContato(contato);$event.stopPropagation()">
                            <mat-icon>delete</mat-icon>
                        </a>
                        
                    </td>
                </ng-container>
                
                

                <tr mat-header-row *matHeaderRowDef="colunas"></tr>
                <tr class="clickable" mat-row *matRowDef="let row; columns: colunas;"(click)="visualizarContato(row)"></tr>


            </table>
        </mat-card>
        



    </mat-tab>
        

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>perm_identity</mat-icon>
            Novo
        </ng-template>
        <mat-card class = 'half-width'>
            <mat-card-title>Cadastre um novo contato</mat-card-title>
            <form [formGroup]="formulario" (ngSubmit)="submit()">
                <mat-form-field class="full-width">
                     <mat-label>Nome: </mat-label>
                        <input matInput formControlName="nome" placeholder="Digite seu nome: "/>
            
                </mat-form-field>
    
                <mat-form-field class="full-width">
                    <mat-label>Email: </mat-label>
                    <input matInput formControlName="email" placeholder="Digite seu email: "/>
                </mat-form-field>
    
                <button [disabled]="!formulario.valid" mat-button color="primary">Adicionar</button>
    
            </form>
    </mat-card>
    
    </mat-tab>
</mat-tab-group>

<div id="modalDelecao" class="modal fade" role="'dialog" >
    <div class="modal-content"></div>
</div>

